@import "../../../assets/styles/fonts/styles.scss";

h2.primary-subtitle {
  @include subtitle;
  margin: 1rem auto;
  width: auto;
  text-align: center;
}

h2.secondary-subtitle {
  @include subtitle;
  padding: 1.313rem 1rem;
  width: auto;
  color: #fff;
}
