@media only screen and (max-width: 900px) {
  .menu-list .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    gap: 0.5rem;
  }
  .menu-list .menu-btn .hamburger {
    border-top: 0.125rem solid #000;
    width: 1.25rem;
  }
  .menu-list .menu-btn .hamburger::after,
  .menu-list .menu-btn .hamburger::before {
    content: "";
    width: 1.25rem;
    height: 0.125rem;
    background: currentColor;
    display: block;
    margin-top: 0.313rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: relative;
  }
}

.menu-list ul {
  font-family: Poppins;
  font-size: 0.75rem;
  color: #000;
  list-style: none;
}

.menu-list ul li {
  display: inline;
  padding: 0 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media only screen and (min-width: 900px) {
  .menu-list ul li a:hover {
    text-decoration: underline;
  }
}

.menu-list ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--color-primary);
}

@media only screen and (max-width: 900px) {
  .menu-list ul li {
    display: block;
    padding: 0;
  }
  .menu-list ul li a {
    text-decoration: none;
    font-size: 0.75rem;
  }
}

@media only screen and (max-width: 900px) {
  .menu-list ul {
    opacity: 0.9;
    -webkit-transform: translateX(18.438rem);
            transform: translateX(18.438rem);
    -webkit-transition: 0.2s;
    transition: 0.2s;
    margin: 0;
    padding: 0;
  }
}

.menu-list .overlay {
  top: 4.563rem;
  position: absolute;
  width: 100%;
  height: 100vh;
  display: none;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(0.063rem);
          backdrop-filter: blur(0.063rem);
  z-index: 10;
  -ms-touch-action: none;
      touch-action: none;
}

@media only screen and (max-width: 900px) {
  .menu-list.active .menu-btn .hamburger {
    border-top-color: transparent;
  }
  .menu-list.active .menu-btn .hamburger::after {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    top: -0.438rem;
  }
  .menu-list.active .menu-btn .hamburger::before {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@media only screen and (max-width: 900px) {
  .menu-list.active ul {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    visibility: visible;
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 999;
    -ms-touch-action: none;
        touch-action: none;
  }
}

.menu-list.active,
.menu-list {
  font-family: Poppins;
  font-size: 0.75rem;
  color: #000;
}

@media only screen and (max-width: 900px) {
  .menu-list.active ul,
  .menu-list ul {
    width: 18.438rem;
    height: 100vh;
    background-color: var(--color-primary);
    position: absolute;
    top: 4.563rem;
    right: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 0;
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 900px) {
  .menu-list.active li,
  .menu-list li {
    background-color: #fff;
    width: 16.5rem;
    height: 2.5rem;
    margin: 0.5rem 0;
    border-radius: 0.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    color: #000;
    -ms-touch-action: auto;
        touch-action: auto;
    text-decoration: none;
  }
}

@media only screen and (max-width: 900px) and (max-width: 900px) {
  .menu-list.active li svg,
  .menu-list li svg {
    color: var(--color-font-text);
    padding: 0 0.25rem;
  }
}
/*# sourceMappingURL=styles.css.map */