@import "../../assets/styles/global.scss";
@import "../../assets/styles/fonts/styles.scss";

/* MOBILE */

@media only screen and (max-width: 900px) {
  .section-container {
    .section-box-container {
      width: 92vw;
      margin: 0 auto 2.5rem auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: var(--color-box-section);
      border-radius: 0.25rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      ul {
        padding: 1.5rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        li {
          list-style-type: none;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .section-image {
            margin: 0 0 1rem 0;
          }
          hr {
            border: 1px solid #9e9e9e;
            width: 16.25rem;
            margin: 1.5rem 0;
          }
        }
      }
    }
    .secondary-section-box-container {
      background-color: var(--color-primary);
      width: 100vw;
      margin: 0;
      padding: 0.25rem 0;
      ul {
        padding: 0;
        width: 100%;
        li {
          list-style-type: none;
          .section-image {
            display: flex;
            width: 92vw;
            height: auto;
            margin: 0 auto 1rem auto;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            border-radius: 8px;
          }
        }
      }
    }
  }
}

/* DESKTOP */

@media only screen and (min-width: 900px) {
  .section-container {
    .section-box-container {
      width: 48rem;
      margin: 0 0 2.5rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: var(--color-box-section);
      border-radius: 0.25rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      ul {
        padding: 1.5rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        li {
          list-style-type: none;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 0 2.5rem;
          .section-image {
            margin: 0 0 1rem 0;
          }
          hr {
            border: 0;
          }
        }
      }
    }
    .secondary-section-box-container {
      background-color: var(--color-primary);
      width: 65rem;
      margin: 0;
      padding: 0.25rem 0;
      ul {
        padding: 0;
        width: 100%;
        li {
          list-style-type: none;
          .section-image {
            display: flex;
            width: 24rem;
            height: auto;
            margin: 0 auto 1rem auto;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            border-radius: 8px;
          }
        }
      }
    }
  }
  .section-desktop-image {
    width: 65rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    img {
      position: absolute;
      z-index: -1;
      margin: 0 -0.75rem;
    }
  }
}
