@media only screen and (max-width: 900px) {
  .plan {
    .plan-container {
      padding-top: 6.376rem;
      div {
        .plans-box {
          text-align: justify;
          margin: 0 0 2.5rem 0;
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .plan {
    .plan-container {
      padding-top: 6.376rem;
      div {
        .plans-box {
          text-align: justify;
          margin: 0 0 2.5rem 0;
        }
        p,
        h1 {
          width: 65rem !important;
        }
      }
    }
  }
}
