@import "../../../assets/styles/fonts/styles.scss";

h1.primary-title {
  @include title;
  margin: 2rem auto 1rem auto;
  width: 92vw;
  color: #000;
}

.primary-title-desktop-container {
  width: 65rem;
  margin: 0 auto;
  h1.primary-title-desktop {
    @include title;
    margin: 1rem 0;
    color: #000;
    width: 32rem;
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
}

h1.secondary-title {
  @include title;
  margin: 1rem auto;
  width: 92vw;
  color: #fff;
}
