/*MOBILE*/
@media only screen and (max-width: 900px) {
  .LGPD {
    .LGPD-container {
      padding-top: 9.376rem;
      div {
        .LGPD-logo-image {
          margin: 2rem auto 0 auto;
          width: 92vw;
          img {
            width: 10rem;
          }
        }
      }
    }
  }
}

/*DESKTOP*/
@media only screen and (min-width: 900px) {
  .LGPD {
    .LGPD-container {
      padding-top: 9.376rem;
      div {
        p,
        h1 {
          width: 65rem !important;
        }
        .LGPD-logo-image {
          margin: 2rem auto 0 auto;
          width: 65rem;
          img {
            width: 10rem;
          }
        }
      }
    }
  }
}
