@import "../styles/fonts/styles.scss";

:root {
  --color-background: #ffffff;
  --color-primary: #ff7a00;
  --color-box-footer: #f6f6f6;
  --color-box-section: #f6f6f6;
  --color-font-text: #000000;
}

* {
  margin: 0;
  padding: 0;
  @include text-default;
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-background);
}

.root {
  overflow-x: hidden;
  width: 100vw;
}

.container-whatsapp {
  display: flex;
  width: auto;
  height: auto;
  z-index: 1000;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  height: auto;
  bottom: 0.75rem;
  right: 0.75rem;
  span {
    width: auto;
    height: auto;
    background-color: #26a218;
    color: white;
    margin: 0 1rem;
    padding: 0 1rem;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 0.25rem;
  }
  img {
    width: 64px;
    height: 64px;
    display: block;
    border-radius: 50%;
    -webkit-box-shadow: 12px 6px 14px -1px rgba(0, 0, 0, 0.45);
    box-shadow: 12px 6px 14px -1px rgba(0, 0, 0, 0.45);
  }
}
